{% extends "base.html" %}

{% block content %}

<div class="body-btn-problem">
    <div class="conteiner-btn-call">
        <a>ID</a>
        <a>Desciption/Title</a>
        <a>Code lines</a>
    </div>
    <div class="container-btn-tasks">
        <div class="container-btn-tasks-box box-btn-container">
            <div>
                <p>1</p>
            </div>
            <div>
                <p>Multiples of 3 or 5</p>
            </div>    
            <div>
                <p>25</p>
            </div>    
        </div>
        <div class="container-btn-tasks-box">2</div>
        <div class="container-btn-tasks-box">3</div>
        <div class="container-btn-tasks-box">4</div>
        <div class="container-btn-tasks-box">5</div>
        <div class="container-btn-tasks-box">6</div>
    </div>
</div>

{% endblock %}