{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}

<div class="body-btn-problem">
    <div class="conteiner-btn-call">
        <a>ID</a>
        <a>Desciption/Title</a>
        <a>Code lines</a>
    </div>
    <div class="container-btn-tasks">
        <div class="container-btn-tasks-box-box-btn-container">
        {% for problem in problems %}
            <button  class="visible-euler-problems-btn" onclick="show_hide(id_1='{{ problem.id }}')">
                <div class="visible-euler-problems">
                        <div class="euler-problem-id">{{ problem.id }}</div>
                        <div class="euler-problem-title">{{ problem.title }}</div>
                        <div class="euler-problem-code-lines">{{ problem.code_lines }}</div>
                </div>
                <div class="hidden-euler-problems" id="{{ problem.id }}">
{#                    <div class="euler-problem-solution">{{ problem.solution|markdown|safe}}</div>#}
                    <span class="euler-problem-solution">{{ problem.solution|markdown|safe}}</span>
                    <div class="euler-problem-description">
                        <h1>Problem</h1>
                        <hr>
                        {{ problem.description }}
                    </div>
                </div>
            </button>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}