.post {
    margin: 75px;
}

.post_title {
    color: #EEE;
    margin: 50px;
    text-align: center;
}

.post_publication_date {
    color: #EEE;
    margin: 50px;
}

.post_text {
    color: #EEE;
    margin: 50px;
    font-size: 28px;
    text-align: justify;
}

.post_comment{
    margin: 100px 50px 100px 50px;

}

.comment_title {
    color: #EEEEEE;
    justify-content: space-between;
    display: flex;
}

.comment {
    background-color: #C4C4C4;
    margin-top: 40px;
    border-radius: 30px;
    padding: 20px;
}

.date {
    display: flex;
}

.post-form {
    display: none;
}

.blog-content-whoami-card-1-text {

    width: 121px;
    height: 126px;
}

.blog-content-posts {
    width: 70%;
    margin: 20px;
}


.blog-content-whoami {
    padding: 20px;
    background-color: #C4C4C4;
    border-radius: 10px;
    width:  30%;
    height: auto;
    margin: 20px;
}

.blog-content {
    display: flex;
    justify-content: center;
}



.blog-content-whoami-card-1 {
    display: flex;
    justify-content: space-between;
}

.blog-content-whoami-card-1-text {
    padding-bottom: 10px;
    width: 50%;
}

.blog-content-whoami-card-1-ico {
    width: auto;
    padding-bottom: 10px;
}

.blog-content-whoami-card-1-ico-img {
    width: 121px;
    height: 126px;
}

.blog-content-whoami-card-3-git-img {
    height: 48px;
    width: 51px;
}

.blog-content-whoami-card-3-inst-img {
    height: 48px;
    width: 51px;
}

.blog-content-whoami-card-3-tg-img {
    height: 48px;
    width: 51px;
}

.blog-content-whoami-card-3 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}