
.body-btn-problem{
    height: 100%;
    background: #1F1F1F;
}

.conteiner-btn-call{
    display: grid;
    grid-gap: 150px;
    margin: 0 50px;
    grid-template-columns: repeat(3, 1fr);
}

.container-btn-tasks{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    margin: 0 20px;
}

.container-btn-tasks-box{
    background-color: #c4c4c4;
    border: 3px solid #0f0f0f;
    color: #000000;
    padding: 5px;
    border-radius: 10px;
}

.box-btn-container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns:1fr 1fr 0.5fr;
    padding: 0 30px;
}

.hidden-euler-problems {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 15px;

}

.visible-euler-problems {
    display: flex;
    justify-content: space-evenly;
}

.visible-euler-problems-btn {
    background-color: #C4C4C4;
}

.euler-problem-description {
    background-color: #C4C4C4;
    margin: 20px;
    border-radius: 15px;
    width: 20%;
    padding: 20px;
    text-align: left;
}

.euler-problem-solution {
    color: blue;
    text-align: left;
    width: 60%;
}


.container-btn-tasks-box-box-btn-container {
    display: flex;
    flex-wrap: wrap;


}

.visible-euler-problems-btn {
    width: calc(100% - 50px);
    border-radius: 30px;
    margin: 5px;
}

.conteiner-btn-call {
    display: flex;
    justify-content: space-evenly;
    color: wheat;
}