{% load static %}

<html lang="ru">
    <head>
        {% load static %}
        <title>Base</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>

        <script src="{% static 'js/blog.js' %}"></script>
    </head>
        <header>
        <nav>
            <button class="header-btn-programming" type="sumbit" onclick="location.href='{% url 'programming' %}'">Programming</button>
            <button class="header-btn-blog" type="sumbit" onclick="location.href='{% url 'programming' %}'">Blog</button>
            <button class="header-btn-invesment" type="sumbit" onclick="location.href='{% url 'programming' %}'">Invesments</button>
{#         {% if user.is_authenticated %}#}
{#              <button type="sumbit" onclick="location.href='{% url 'logout' %}'">Выход</button>#}
{#              <a href="{% url 'apps_list' %}">Apps</a>#}
{#         {% else %}#}
{#              <button type="sumbit" onclick="location.href='{% url 'login' %}'" >Войти</button>#}
{#            <button type="sumbit" onclick="location.href='{% url 'signup' %}'">Регистрация</button>#}
{#         {% endif %}#}
        </nav>
        <div class="introduction">
            <div class="introsuction_text">
                Text
            </div>
        </div>

    </header>
    <body>
    <div class="scrollbar-container"></div>
    {% block content %}
    {% endblock %}
    </body>
</html>