

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 9.2%;
    background-color: #323232;
}

[class*="__container"]
{
    max-width: 1720px;
    margin: 0px auto;
}

.header {
    
    display: flex;
    font-size: 24px;
    justify-content: center;
    letter-spacing: 1px;
    margin: auto;
    
}
.header__container {
    display: grid;
    grid-column-gap: 150px;
    grid-template-columns: auto auto auto;
    padding: 1px;
}
.header__programming {
    
}
.header__blog {
    
}
.header__investment {
   
    
}
.box {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    color:#000000;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #EEEEEE;
    margin:10px;
    padding:5px;
}
.box:hover {
    background-color: aquamarine;
}



header {
    height: 150px;
    background-color: #C4C4C4;

}

nav {
    height: 50px;
    background-color: #323232;
}


.header-btn-programming {

    background-color: #EEE;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 10px ;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header-btn-blog {

    background-color: #EEE;
    margin-top: 12px;
    border-radius: 10px ;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.header-btn-invesment {

    background-color: #EEE;
    margin-top: 10px;
    border-radius: 10px ;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.introduction {
    margin-top: 25px;
    height: 50px;
    background-color: #323232;
    border-radius: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.introsuction_text {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 24px;
    color: #FFF9F9;
    padding-top: 10px;
}

.project-link a {
    text-decoration: none;
}

.project {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    background-color: rgba(95, 95, 95, 0.09);
    width: 500px;
    border-radius: 15px;


}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-right: 10px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    color: black;
}

.scrollbar-container {
    height: 0px;
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    background-color: #C4C4C4;
}

::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 12px;
    border: 3px solid #C4C4C4;
}

