
.body-btn-problem{
    height: 100%;
    background-color:#000000;
}

.conteiner-btn-call{
    display: grid;
    grid-gap: 150px;
    margin: 0 50px;
    grid-template-columns: repeat(3, 1fr);
}

.container-btn-tasks{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    margin: 0 20px;
}

.container-btn-tasks-box{
    background-color: #eee4e4;
    border: 3px solid #0f0f0f;
    color: #000000;
    padding: 5px;
    border-radius: 10px;
}

.box-btn-container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns:1fr 1fr 0.5fr;
    padding: 0 30px;
}