{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>



        <ul>
            <li data-id="{{ like_obj.id }}" data-type="post" data-action="like" title="Нравится">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span data-count="like">{{ like_obj.votes.likes.count }}</span>
            </li>
            <li data-id="{{ like_obj.id }}" data-type="post" data-action="dislike" title="Не нравится">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <span data-count="dislike">{{ like_obj.votes.dislikes.count }}</span>
            </li>
         </ul>


        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% endif %}
        {% empty %}
            <p>No coments here yet</p>
        {% endfor %}
        <button type="submit" onclick="location.href='{% url 'blog_page' %}'" >Blog</button>

    </div>


{% endblock %}